/** 
	Data: 14/02/2018
	Objetivo: Estilização da página de perfil do filiado do site.
**/
.voltar a{
    color: black;
    font-size: 22px;
}
.hide{
    display: none;
}
#content_perfil{
    width: 980px;
    height: 530px;
    margin: auto;
    margin-bottom: 10px;
    padding:10px 5px 5px 5px;
    border: solid 1px transparent;
}
#addLista{
    height: 25px;
    padding-top: px;
}
.perfil{
    float: left;
    height: 450px;
    border: solid 1px transparent;
}
#pefil{
    width: 300px;
    height: auto;
    padding: 10px;
    margin-right: 20px;
    box-shadow: 4px 4px 10px grey;
    border: solid 1px #CDCDCD;
}
.foto_perfil{
    width: 290px;
    height: 290px;
    margin: auto;
    overflow: hidden;
    text-align: center;
    border: double 5px black;
}
.foto_perfil img{
    max-width: 290px;
    height: 290px;
}
.tonight{
    z-index: 999;
    width: 270px;
    height: 30px;
    position: relative;
    margin: -35px 0px 0px 0px;
    border: solid 1px transparent;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100px 30px;
    background-image: url("../imagens/tonight.png");
}
.apresentacao{
    width: 300px;
    height: auto;
    min-height: 40px;
    font-size: 18px;
    margin-top: 10px;
}
#dados_perfil{
    float: left;
    width: 300px;
    height: 450px;
    padding: 10px;
    border: solid 1px transparent;
}
.lst_dados{
    float: left;
    width: 290px;
    height: auto;
    font-size: 20px;
    margin-top: 20px;
    border: solid 1px transparent;
}
.lst_dados li{
    min-width: 270px;
    height: auto;
    padding: 5px 10px 5px 10px;
    margin-bottom: 2px;
    border-bottom: solid 1px black;
}
.contrate{
    float: left;
    clear: both;
    width: 200px;
    height: 100px;
    margin-top: 30px;
    text-align: center;
    margin-left: 10px;
    border: solid 1px transparent;
}
.sugestoes{
    float: left;
    width: 300px;
    height: 420px;
    padding-top: 40px;
}
#midia{
    width: 980px;
    height: auto;
    margin: auto;
    padding:10px 5px 5px 5px;
    border-top: solid 1px #CDCDCD;
}
.imgs_filiado{
    float: left;
    width: 300px;
    height: 300px;
    overflow: hidden;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 10px;
    border: solid 1px #CDCDCD;
}
.imgs_filiado img{
    max-width: 300px;
    height: 300px;
    margin: auto;
}
.videos_filiado{
    float: left;
    width: 350px;
    height: 300px;
    overflow: hidden;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 10px;
    border: solid 1px #CDCDCD;
}
.conta_null{
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px;
}

#sugestoes{
    width: 980px;
    height: 300px;
    margin: auto;
    margin-top: 10px;
    padding:10px 5px 5px 5px;
    border-top: solid 1px black;
}
.lst_sugestoes li{
    float: left;
    width: 280px;
    height: 190px;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #8A0808;
    border: solid 1px black;
}
label{
    font-size: 18px;
}
.foto{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.img_peril{
    max-width: 100%;
    height: 100%;
}
.titulo{
    margin-bottom: 20px;
}

.perfil_sugestao{
    color: white;
    width: 272px;
    height: 0px;
    opacity: 0.6;
    font-size: 20px;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: 185px;
    margin-left: 0px;
    visibility: hidden;
    text-align: justify;
    position: absolute;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid black;
    filter: alpha(opacity=60);
}

.lst_sugestoes li:hover .perfil_sugestao{
    transition-duration: 0.5s;
    height: 184px;
    color: black;
    visibility: visible;
    margin-top: 0;
}

.img_peril{
    max-width: 100%;
    height: 100%;
}