/**
    Data:26/02
**/

.titulo{
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}
#informacoes{
    width: 400px;
    height: auto;
    margin: auto;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    border: solid 1px white;
}
.lst_dados_ver{
    height: 600px;
}
.lst_dados_ver li{
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    border-radius: 10px;
    border: solid 1px #CDCDCD;
}

.botao{
    margin-right: 20px;
}