/** 
	Data: 10/02/2018
	Objetivo: Estilização da página cadastro de clientes.
    Arquivos relacionados: seja-cliente.php
 **/
#divisao{
    width: auto;
    height: auto;
    box-shadow: inset 0px 0px 2px gray;
    border: solid 1px #CDCDCD;
}
.titulo{
    margin-top: 10px;
    text-align: center;
    border: solid 1px transparent;
}
.botao{
    float: left;
    clear: both;
    width: 100px;
    height: 35px;
    margin-left: 25px;
    font-size: 20px;
    margin-top: 10px;
}
.cont_alinhar{
    width: 660px;
    height: 880px;
    margin: auto;
    border: solid 1px transparent;
}
.lst_cadastrar_dados{
    float: left;
    width: 230px;
    height: 350px;
    margin: auto;
    padding: 10px;
    padding-left: 70px;
    margin-top: 30px;
    border: solid 1px transparent;
}
.lst_cadastrar_dados li{
    width: 230px;
    font-size: 20px;
    margin-left: 10px;
    border: solid 1px transparent;
}
.lst_cadastrar_dados li input{
    font-size: 16px;
}
.lst_cadastrar_dados li select{
    font-size: 16px;
}
.clear{
    float: left;
    clear: both;
    width: 660px;
    height: 1px;
    margin-bottom: 20px;
    border: solid 1px white;
}
.desabilitado{
    color: gray;
    background-color: #CDCDCD;
    border: solid 1px gray;
}
.termos{
    width: 600px;
    height:250px;
    margin: auto;
    padding: 5px;
    overflow-y: scroll;
    border: solid 1px #CDCDCD;
}
.concordo{
    width: 600px;
    margin: auto;
    margin-top: 16px;
}
.carregando{
    color:#666;
    display:none;
}
.alert{
    width: 200px;
    height: auto;
    text-align: center;
    padding: 5px;
    padding-top: 10px;
    border: solid 1px gray;
    box-shadow: 1px 1px 5px #CDCDCD;
}
.botao_ok{
    width: 80px;
    height: 40px;
    line-height: 2;
    border-radius: 5px;
    background-color: red;
    border: solid 1px gray;
}