/**
    Data: 26/02/2018
**/

#filtro{
    width: 840px;
    height: 100px;
    margin: auto;
    border: solid 1px white;
}

.lst_filtro{
    padding-bottom: 10px;
    border-bottom: solid 1px gray;
}
.lst_filtro li{
    float: left;
    height: 30px;
    padding: 8px;
    margin-left: 6px;
    font-size: 18px;
    border: solid 1px white;
}
.lst_filtro li a{    
    color: black;
}
#lista_acompanhantes{
    width: 950px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    border: solid 1px white;
}

.acompanhante{
    float: left;
    width: 290px;
    height: 350px;
    overflow: hidden;
    text-align: center;
    margin-left: 12px;
    margin-bottom:12px;
    padding-top: 10px;
    border-radius: 10px;
    border: solid 1px #CDCDCD;
}
.acompanhante img{
    margin: auto;
    width: 270px;
    min-height: 260px;
    max-height: 300px;
    margin-bottom: 4px;
}
.acompanhante p {
    color: black;
    margin-bottom: 4px;
}
.tonight{
    z-index: 999;
    width: 270px;
    height: 30px;
    position: relative;
    margin: -40px 0px 0px 8px;
    border: solid 1px transparent;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100px 30px;
    background-image: url("../imagens/tonight.png");
}

.pesquisa{
    cursor: pointer;
}