/**
    Data: 07/03/2018
    Objetivo: Estilo pag lucro
**/

h2{
    font-weight: 100;
}
.titulo{
    margin-top: 20px;
    margin-bottom: 5px;
}
#lucro{
    width: 930px;
    height: 700px;
    margin: auto;
    padding-left: 30px;
    border: solid 1px #FFF;
}
.content_lucro{
    width: 880px;
    height: 230px;
    overflow-y: scroll;
    margin-top: 5px;
    margin-bottom: 40px;
    padding: 14px;
    border-radius: 5px;
    border: solid 1px #8A0808;
}
.conta{
    float: left;
    width: 220px;
    height: 110px;
    padding: 15px;
    border-radius: 5px;
    margin: 14px 0px 0px 14px;
    border: solid 1px gray;
}
.conta p{
    margin-top: 5px;
    margin-bottom: 6px;
}