/**
    Data:05/03/2018
    Objeyivo: Estilo pág listar hospedes
**/
body{
    background-color: black;
}
.hide{
    display: none;
}
.form{
    margin-top: 18px;
    margin-bottom: 18px;
}
fieldset{
    width: 760px;
    height: 200px;
    padding: 10px;
    margin: auto;
}
fieldset p{
    margin-top: 10px;
}

fieldset p label{
    font-weight: bold;
    margin-left: 5px;
}

#visualizar{
    width: 950px;
    max-height: 750px;
    margin: auto;
    border: solid 1px white;
}

.lst_dados_usuario{
    width: 900px;
    height: 510px;
    margin: auto;
    margin-top: 10px;
    padding-top: 5px;
    border: solid 1px white;
}
.lst_dados_usuario li{
    float: left;
    min-height: 38px;
    width: 280px;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-left: 5px;
    margin-bottom: 2px;
    font-size: 16px;
    border: solid 1px #CDCDCD;
}
.lst_dados_usuario li ::first-letter{
    text-transform: capitalize;
}
.lst_dados_usuario li p{
    font-weight: bold;
}

.addDesconto a{
    color: #8A0808;
    font-weight: bold;
}
.addDesconto{
    float: right;
    margin-right: 10px;
}

.foto_perfil{
    float: left;
    width: 180px;
    height: 180px;
    margin-left: 30px;
    border: solid 1px #CDCDCD;
}
.foto_perfil img{
    max-width: 180px;
    height: 180px;
}
a{
    color: black;
}
.apresentacao{
    float:left;
    margin-left:20px;
    margin-top: 20px;
}
.content_pesq{
    width: 925px;
    height: 500px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    border: solid 1px white;
}
#form{
    margin-bottom: 10px;
}
.recuperar{
    height: 50px;
}
#hospedes{
    width: 920px;
    height: 400px;
    margin-top: 10px;
    margin: auto;
    margin-bottom: 5px;
    overflow-y: scroll;
    border: solid 1px gray;
}
.delcontasatrasadas{
    width: 400px;
    border: solid 1px white;
}
.delcontasatrasadas a:hover{
    transition: 0.8s;
    text-decoration: underline;
}
.delcontasatrasadas a{
    color: black;
}
span .atualzar{
    color: blue;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: solid 1px blue;
}
span .atualzar:hover{
    color: black;
    text-decoration: none;
    border: solid 1px black;
}
.onOff{
    cursor: pointer;
    color:white;
    padding: 2px;
    box-shadow: none;
    font-size: 20px;
    margin: auto;
    margin-top: 5px;
}
.on{
    border: solid 1px cadetblue;
    background-color:cadetblue;
}
.off{
    border: solid 1px darkred;
    background-color:darkred;
}
.novoDesconto{
    float:left; 
    padding-right:15px;
    border-right:solid 1px black; 
}
.descontoAnterior{
    float:left;
    margin-left:20px;
    border:solid 1px transparent;
}
.lst_hospedes{
    width:890px; 
    height:auto;
    margin: auto;
    border: solid 1px #CDCDCD;
}
.lst_hospedes tr{
    height: 30px;
    font-size: 20px;
}
.lst_hospedes tr td{
    padding-left: 10px;
    padding-right: 10px;
}
.tbl_titulo{
    color: white;
    text-align: center;
    background-color: black;
}
